<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="./webcam.component.scss" />
  <script type="text/javascript" src="../../assets/ExternalJsFiles/gallery.js"></script>
</head>

<body>
  <div class="imageone">
    <img src="../../assets/images/forest-931706_1920.jpg" />
  </div>
  <div class="row">
    <div class="column">
      <img src="../../assets/images/sky.jpg" alt="Sky" onclick="myFunction(this);" />
    </div>
    <div class="column">
      <img src="../../assets/images/turtle-863336_1280.jpg" alt="Turtle" onclick="myFunction(this);" />
    </div>
    <div class="column">
      <img src="../../assets/images/tie-690084_1920.jpg" alt="Tie" onclick="myFunction(this);" />
    </div>
    <div class="column">
      <img src="../../assets/images/turtle-863336_1280.jpg" alt="Turtle" onclick="myFunction(this);" />
    </div>
  </div>
  <div class="container">
    <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
    <img id="expandedImg" style="width: 100%;" />
    <div id="imgtext"></div>
  </div>


  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Heute
        </mat-panel-title>
        <mat-panel-description>
         Dies sind alle aufgenommenen Bilder von heute.
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-grid-list cols="4" rowHeight="200px">
        <mat-grid-tile *ngFor="let image of Images">
         
          <img [src]="image.image" height="200px"onclick="myFunction(this)">
          
        </mat-grid-tile>

      </mat-grid-list>
    </mat-expansion-panel>
  </mat-accordion>
 
</body>

</html>