<header>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button [routerLink]="'/'">
          <img src="http://www.mfc-rossendorf.de/fileadmin/mfcr_upload/logo/mfcRlogo_01.png" height="20" class="d-inline-block align-top" alt="">
      </button>
      
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/'"> Graphen </a>
        <a mat-button [routerLink]="'/webcam'"> Webcam </a>
        <a mat-button [routerLink]="'/admin'"> Wartung </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
