<header>
  <div class="container">
      <a class="navbar-brand" href="#">
            <img src="http://www.mfc-rossendorf.de/fileadmin/mfcr_upload/logo/mfcRlogo_01.png" height="20" class="d-inline-block align-top" alt="">
            Wetterstation
        </a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Graphen</a></li>
        <li><a href="#" routerLink="/webcam">Webcam & Galerie</a></li>
        <li><a href="#" routerLink="/admin">Wartungsbereich</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>