[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asgiref = "==3.2.3"
astroid = "==2.3.3"
certifi = "==2019.11.28"
chardet = "==3.0.4"
colorama = "==0.4.1"
coverage = "==5.1"
django-cors-headers = "==3.2.1"
djangorestframework = "==3.11.0"
djangorestframework-simplejwt = "==4.4.0"
idna = "==2.9"
isort = "==4.3.21"
lazy-object-proxy = "==1.4.3"
list = "==1.3.0"
mccabe = "==0.6.1"
mysqlclient = "==1.4.6"
numpy = "==1.17.4"
pipenv = "==2018.11.26"
pylint = "==2.4.4"
pytz = "==2019.3"
requests = "==2.23.0"
six = "==1.13.0"
sqlparse = "==0.3.0"
urllib3 = "==1.25.9"
users = "==1.0.dev0"
virtualenv = "==16.7.9"
virtualenv-clone = "==0.5.3"
virtualenvwrapper-win = "==1.2.6"
wrapt = "==1.11.2"
Django = "==3.0.2"
Pillow = "==7.1.1"
PyJWT = "==1.7.1"

[requires]
python_version = "3.8"
