<mat-card>

<div class="form">
  
  <form class="text-center" style="color: #757575;">
    <label for="uname"><b>Benutzername</b></label>
    <input matInput type="text" placeholder="Benutzername eingeben" [(ngModel)]="username" name="uname" required>

    <label for="psw"><b>Passwort</b></label>
    <input matInput type="password" placeholder="Passwort eingeben" [(ngModel)]="password" name="psw" required>

    <a>
      <button mat-raised-button color="primary" class="login" (click)=getToken()>Anmelden</button>
    </a>
    </form>
    
</div>
<div [hidden]="loginError">
  <br>
  <p style="color:red">Login fehlgeschlagen!</p>
</div>
</mat-card>

