<mat-card>

<div class="form">
  
  <form class="text-center" style="color: #757575;">
    <label for="uname"><b>Benutzername</b></label>
    <input type="text" placeholder="Benutzername eingeben" name="uname" required>

    <label for="psw"><b>Passwort</b></label>
    <input type="password" placeholder="Passwort eingeben" name="psw" required>

    <a routerLink="/adminpanel">
      <button mat-raised-button color="primary" class="login">Anmelden</button>
    </a>
    <br>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Login merken?
    </label>
    </form>
    
</div>
</mat-card>

