

<mat-card>

<div class="form">
  
  <form class="text-center" style="color: #757575;">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button mdbBtn type="button" color="default" rounded="true" mdbWavesEffect>Anmelden</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Login merken?
    </label>
    </form>
    
</div>
</mat-card>

