.matlist{
    height: 100%;
    width: 100%;
    padding-top: 24px !important;
}

table {
    flex-grow: 1; 
    flex-basis: auto;
}

H1 {
    text-align: center;
}

.btnDiv {
    text-align: left;
}

.checksec {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }

.checkmarg {
    margin: 0 10px;
}