<!DOCTYPE html>
<html>
<head>
<script> src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" </script>
</head>


<body>



<mat-card class= "selectorcard">

<mat-slide-toggle class="toggleslider"  (change)="onChange($event)" >erweiterter Modus</mat-slide-toggle>
<ng-template [ngIf]="(extendedModeStatus | async)"[ngIfElse]="simpleMode">
<mat-form-field>
  <mat-label>Startdatum</mat-label>
  <input matInput [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
</ng-template>

<ng-template #simpleMode>
<mat-radio-group aria-label="Select an option" 
 [(ngModel)]="chosenbtn"
>
  <mat-radio-button *ngFor="let pick of timepickers" [value]="pick"  (change)="onbtnChange($event)">
  {{pick}}
  </mat-radio-button>

</mat-radio-group>
</ng-template>
  </mat-card>



<div class="column">
<mat-card class = "temps">
<canvas id= "temp"></canvas>
</mat-card>
</div>

<div class="column">
<mat-card>
<canvas id= "speed"></canvas>
</mat-card>
</div>




</body>
</html>