
.selectorcard{
    
    height:100%;
    margin-bottom: 0.5em;
    margin-top: 0.5em;

}

.canvas-container {
    display: flex;
    box-align: center;
    border: 1px solid lightgray;
    margin-bottom: 0em;
    width: auto;
    height:auto
    }

.column {
    margin-top: 0.5rem;
   
    vertical-align: middle;
    width: 100%;
    height: 100%;
    
  }

.toggleslider{
  position: absolute;
  top: 8px;
  right: 20px;
  font-size: 18px;

}
.simplemodelabel{
  text-align: left;
 
}

.mat-radio-button{
  padding:0.5em;
}


.recentData{
width:85%;
height:55%;
text-align: center;
}

.directions-card{
  margin-top: 1em;
  margin-bottom: 0.5em;
  height: 4em;
  text-align: center;
  
}

.mat-h1{
  text-align: center;
  margin-top: 0.8em;
  
}


.imagecontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  
}

.arrowscontainer{
  float: left;
  margin-right:0.25em ;
}

.windDirTime{
  display: block;
}
.endpickform,.applydates,.startpickform{
margin:0.25em 0.25em 0.25em 0.25em;
}


