
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

@include mat-core();




// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$SE-draft-primary: mat-palette($mat-indigo);
$SE-draft-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$SE-draft-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$SE-draft-theme: mat-light-theme($SE-draft-primary, $SE-draft-accent, $SE-draft-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($SE-draft-theme);




$primary: rgb(0, 140, 255);

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
.container {
    width: 80%;
    margin: 0 auto;
}
header {
    background: $primary;
    padding: 1em 0;
    a {
        color: white;
        text-decoration: none;
    }
    a.logo {
        font-weight: bold;
    }

    nav {
        float: right;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            li a {
                padding: 0.5em;

                &:hover {
                    background: darken($primary, 5%);
                }
            }
        }
    }
}

h1 {
    margin-top: 2em;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
